.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.31em;
  letter-spacing: .05rem;
  text-align: center;
  color: var(--dark-gray);
}